venv/
.env
__pycache__/
*.pyc
instance
*.pyo
*.pyd
*.db
*.sqlite3
.DS_Store
.env.local
.env.*.local
.vscode/
.idea/
*.log
coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
credentials.json
token.json
test.py